.main {
   text-align: center;
   display: flex;
   place-items: center;
   gap: 10px;
   flex-direction: row;
   color: white;
   background-color: dodgerblue;
}

.getStartedButton {
   background-color: burlywood;
   color: white;
}

.left {
   flex-basis: 60%;
}

.right {
   flex-basis: 40%;
}

.car {
   max-width: 100%;
   height: 100vh;
}